.bgColor {
  background-color: #ebf6fc;
}
.containerPadding {
  padding-top: 60px;
  padding-right: 350px;
  padding-left: 350px;
}
@media only screen and (min-width: 200px) and (max-width: 959px) {
  .containerPadding {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
.buttonStyle {
  border: 0;
  padding: 10px 40px;
  background: #24457b;
  color: #fff;
  border-radius: 30px;
  margin-bottom: 20px;
}
.centralize {
  display: flex;
  justify-content: center;
}
.error {
  display: none;
  margin-left: 10px;
}
.error_show {
  color: #ff0415;
  margin-left: 10px;
}
.formInputStyle {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.labelPosition {
  margin-bottom: -10px;
}
#text {
  color: #24457b;
}
@media only screen and (min-width: 200px) and (max-width: 959px) {
  img {
    width: 250px;
    padding-left: 10px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1980px) {
  img {
    width: 250px;
    padding-left: 10px;
    margin-top: 20px;
  }
}
h3 {
  text-decoration-line: underline;
  padding-top: 20px;
}
input.invalid,
textarea.invalid {
  border: 2px solid #ff0415;
}
input.valid,
textarea.valid {
  border: 2px solid #43b143;
}
p,
label {
  color: #24457b;
}
sup {
  color: #ff0415;
  font-weight: bold;
}
sub {
  color: #9c9b97;
}
::placeholder {
  color: #24457b;
  opacity: 0.5;
}
